.div-busca{
    display: flex;
    justify-content: center;
    text-align: center;
}
.busca{
    text-align: center;
    align-items: center;
}

input{
    text-align: center;
}

#container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    width: 44px;
    margin: 30px;
    padding: 20px;
    border: 1px solid #272424;
    border-radius: 7px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.15);
    /* margin-left: 500px; */
}

.card h3{
    color: #ba33d4;
}

.card p{
    color: #4f2158;
    font-weight: 100;
}

.card img{
    border-radius: 7px 7px 0 0;
    margin-bottom: 20px;
    max-width: 300px;
    height: 400px;
}
