.div-busca{
    display: flex;
    justify-content: center;
    text-align: center;
}
.busca{
    text-align: center;
    align-content: center;
    display: flex;
    justify-content: center;
    margin-left: 100px;
    padding: 30px;
}

input{
    text-align: center;
}

#container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card-depoimentos{
    width: 300px;
    margin: 30px 30px 30px 120px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid #0808a1;
    border-radius: 20px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.15);
    align-items: center;
    text-align: center;
}

.card-depoimentos h3{
    color: #2e248a;
}

.card-depoimentos p{
    color: #4f2158;
    font-weight: 100;
}

.card-depoimentos img{
    border-radius: 20px;
    margin-bottom: 20px;
    max-width: 200px;
    max-height: 200px;
    
}
