

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    color: rgb(29, 26, 26);
    background-color: #66c3ebf6;
}

body, input, button, textarea{
    font: 600 18px Nunito, sans-serif;
}


